brotlipy==0.7.0
certifi==2021.5.30
cffi
chardet
click==8.0.3
cryptography
filelock==3.4.2
huggingface-hub==0.2.1
idna
joblib==1.1.0
numpy==1.22.0
packaging==21.3
Pillow==9.0.0
pycosat==0.6.3
pycparser
pyOpenSSL
pyparsing==3.0.6
PySocks
PyYAML==6.0
regex==2021.11.10
requests
sacremoses==0.0.46
six 
tokenizers==0.10.3
torch==1.10.1
torchvision==0.11.2
tqdm
transformers==4.15.0
typing-extensions==4.0.1
urllib3
